<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingbing.paper.mybatis.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.bingbing.paper.mybatis.entity.Dept">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="school_id" jdbcType="VARCHAR" property="schoolId" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="dept_content" jdbcType="VARCHAR" property="deptContent" />
    <result column="dept_leader_id" jdbcType="VARCHAR" property="deptLeaderId" />
    <result column="dept_leader_name" jdbcType="VARCHAR" property="deptLeaderName" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dept_name, school_id, school_name, dept_content, dept_leader_id, dept_leader_name,
    gmt_create, enabled
  </sql>
  <select id="selectByExample" parameterType="com.bingbing.paper.mybatis.entity.DeptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from b_dept
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_dept
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bingbing.paper.mybatis.entity.DeptExample">
    delete from b_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bingbing.paper.mybatis.entity.Dept">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_dept (dept_name, school_id, school_name,
      dept_content, dept_leader_id, dept_leader_name,
      gmt_create, enabled)
    values (#{deptName,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR},
      #{deptContent,jdbcType=VARCHAR}, #{deptLeaderId,jdbcType=VARCHAR}, #{deptLeaderName,jdbcType=VARCHAR},
      #{gmtCreate,jdbcType=TIMESTAMP}, #{enabled,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.bingbing.paper.mybatis.entity.Dept">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="schoolId != null">
        school_id,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="deptContent != null">
        dept_content,
      </if>
      <if test="deptLeaderId != null">
        dept_leader_id,
      </if>
      <if test="deptLeaderName != null">
        dept_leader_name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="deptContent != null">
        #{deptContent,jdbcType=VARCHAR},
      </if>
      <if test="deptLeaderId != null">
        #{deptLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="deptLeaderName != null">
        #{deptLeaderName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bingbing.paper.mybatis.entity.DeptExample" resultType="java.lang.Integer">
    select count(*) from b_dept
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_dept
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null">
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolName != null">
        school_name = #{record.schoolName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptContent != null">
        dept_content = #{record.deptContent,jdbcType=VARCHAR},
      </if>
      <if test="record.deptLeaderId != null">
        dept_leader_id = #{record.deptLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptLeaderName != null">
        dept_leader_name = #{record.deptLeaderName,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_dept
    set id = #{record.id,jdbcType=VARCHAR},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      school_name = #{record.schoolName,jdbcType=VARCHAR},
      dept_content = #{record.deptContent,jdbcType=VARCHAR},
      dept_leader_id = #{record.deptLeaderId,jdbcType=VARCHAR},
      dept_leader_name = #{record.deptLeaderName,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      enabled = #{record.enabled,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bingbing.paper.mybatis.entity.Dept">
    update b_dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null">
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="deptContent != null">
        dept_content = #{deptContent,jdbcType=VARCHAR},
      </if>
      <if test="deptLeaderId != null">
        dept_leader_id = #{deptLeaderId,jdbcType=VARCHAR},
      </if>
      <if test="deptLeaderName != null">
        dept_leader_name = #{deptLeaderName,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bingbing.paper.mybatis.entity.Dept">
    update b_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      dept_content = #{deptContent,jdbcType=VARCHAR},
      dept_leader_id = #{deptLeaderId,jdbcType=VARCHAR},
      dept_leader_name = #{deptLeaderName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
