<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingbing.paper.mybatis.mapper.SchoolBeginMapper">
  <resultMap id="BaseResultMap" type="com.bingbing.paper.mybatis.entity.SchoolBegin">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_year" jdbcType="VARCHAR" property="schoolYear" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="plan_num" jdbcType="VARCHAR" property="planNum" />
    <result column="begin_content" jdbcType="VARCHAR" property="beginContent" />
    <result column="begin_book" jdbcType="VARCHAR" property="beginBook" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, school_name, school_year, dept_name, major_name, plan_num, begin_content, begin_book,
    gmt_create, enabled
  </sql>
  <select id="selectByExample" parameterType="com.bingbing.paper.mybatis.entity.SchoolBeginExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_school_begin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from b_school_begin
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_school_begin
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bingbing.paper.mybatis.entity.SchoolBeginExample">
    delete from b_school_begin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bingbing.paper.mybatis.entity.SchoolBegin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_school_begin (id,school_name, school_year, dept_name,
      major_name, plan_num, begin_content,
      begin_book, gmt_create, enabled
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{schoolYear,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR},
      #{majorName,jdbcType=VARCHAR}, #{planNum,jdbcType=VARCHAR}, #{beginContent,jdbcType=VARCHAR},
      #{beginBook,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{enabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bingbing.paper.mybatis.entity.SchoolBegin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into b_school_begin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="schoolYear != null">
        school_year,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="majorName != null">
        major_name,
      </if>
      <if test="planNum != null">
        plan_num,
      </if>
      <if test="beginContent != null">
        begin_content,
      </if>
      <if test="beginBook != null">
        begin_book,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolYear != null">
        #{schoolYear,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null">
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="planNum != null">
        #{planNum,jdbcType=VARCHAR},
      </if>
      <if test="beginContent != null">
        #{beginContent,jdbcType=VARCHAR},
      </if>
      <if test="beginBook != null">
        #{beginBook,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bingbing.paper.mybatis.entity.SchoolBeginExample" resultType="java.lang.Integer">
    select count(*) from b_school_begin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_school_begin
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolName != null">
        school_name = #{record.schoolName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolYear != null">
        school_year = #{record.schoolYear,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null">
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.majorName != null">
        major_name = #{record.majorName,jdbcType=VARCHAR},
      </if>
      <if test="record.planNum != null">
        plan_num = #{record.planNum,jdbcType=VARCHAR},
      </if>
      <if test="record.beginContent != null">
        begin_content = #{record.beginContent,jdbcType=VARCHAR},
      </if>
      <if test="record.beginBook != null">
        begin_book = #{record.beginBook,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_school_begin
    set id = #{record.id,jdbcType=VARCHAR},
      school_name = #{record.schoolName,jdbcType=VARCHAR},
      school_year = #{record.schoolYear,jdbcType=VARCHAR},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      major_name = #{record.majorName,jdbcType=VARCHAR},
      plan_num = #{record.planNum,jdbcType=VARCHAR},
      begin_content = #{record.beginContent,jdbcType=VARCHAR},
      begin_book = #{record.beginBook,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      enabled = #{record.enabled,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bingbing.paper.mybatis.entity.SchoolBegin">
    update b_school_begin
    <set>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolYear != null">
        school_year = #{schoolYear,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="majorName != null">
        major_name = #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="planNum != null">
        plan_num = #{planNum,jdbcType=VARCHAR},
      </if>
      <if test="beginContent != null">
        begin_content = #{beginContent,jdbcType=VARCHAR},
      </if>
      <if test="beginBook != null">
        begin_book = #{beginBook,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bingbing.paper.mybatis.entity.SchoolBegin">
    update b_school_begin
    set school_name = #{schoolName,jdbcType=VARCHAR},
      school_year = #{schoolYear,jdbcType=VARCHAR},
      dept_name = #{deptName,jdbcType=VARCHAR},
      major_name = #{majorName,jdbcType=VARCHAR},
      plan_num = #{planNum,jdbcType=VARCHAR},
      begin_content = #{beginContent,jdbcType=VARCHAR},
      begin_book = #{beginBook,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
