<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingbing.paper.mybatis.mapper.SchoolRankMapper">
    <resultMap id="BaseResultMap" type="com.bingbing.paper.mybatis.entity.SchoolRank">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school_name" jdbcType="VARCHAR" property="schoolName"/>
        <result column="school_content" jdbcType="VARCHAR" property="schoolContent"/>
        <result column="school_rank" jdbcType="INTEGER" property="schoolRank"/>
        <result column="school_tel" jdbcType="VARCHAR" property="schoolTel"/>
        <result column="school_web_url" jdbcType="VARCHAR" property="schoolWebUrl"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="city_name" jdbcType="VARCHAR" property="cityName"/>
        <result column="affiliation" jdbcType="VARCHAR" property="affiliation"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, school_name, school_content, school_rank, school_tel, school_web_url, gmt_create,
    enabled, city_name, affiliation, grade
  </sql>
    <select id="selectByExample" parameterType="com.bingbing.paper.mybatis.entity.SchoolRankExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from b_school_rank
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from b_school_rank
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from b_school_rank
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.bingbing.paper.mybatis.entity.SchoolRankExample">
        delete from b_school_rank
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.bingbing.paper.mybatis.entity.SchoolRank">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_school_rank (id, school_name, school_content, school_rank,
        school_tel, school_web_url, gmt_create,
        enabled,city_name,affiliation,grade)
        values (#{id,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{schoolContent,jdbcType=VARCHAR},
        #{schoolRank,jdbcType=INTEGER},
        #{schoolTel,jdbcType=VARCHAR}, #{schoolWebUrl,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{enabled,jdbcType=BIT}, #{cityName,jdbcType=VARCHAR}, #{affiliation,jdbcType=VARCHAR},
        #{grade,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.bingbing.paper.mybatis.entity.SchoolRank">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into b_school_rank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="schoolName != null">
                school_name,
            </if>
            <if test="schoolContent != null">
                school_content,
            </if>
            <if test="schoolRank != null">
                school_rank,
            </if>
            <if test="schoolTel != null">
                school_tel,
            </if>
            <if test="schoolWebUrl != null">
                school_web_url,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="cityName != null">
                city_name,
            </if>
            <if test="affiliation != null">
                affiliation,
            </if>
            <if test="grade != null">
                grade,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="schoolName != null">
                #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="schoolContent != null">
                #{schoolContent,jdbcType=VARCHAR},
            </if>
            <if test="schoolRank != null">
                #{schoolRank,jdbcType=INTEGER},
            </if>
            <if test="schoolTel != null">
                #{schoolTel,jdbcType=VARCHAR},
            </if>
            <if test="schoolWebUrl != null">
                #{schoolWebUrl,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BIT},
            </if>
            <if test="cityName != null">
                #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="affiliation != null">
                #{affiliation,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.bingbing.paper.mybatis.entity.SchoolRankExample"
            resultType="java.lang.Integer">
        select count(*) from b_school_rank
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update b_school_rank
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.schoolName != null">
                school_name = #{record.schoolName,jdbcType=VARCHAR},
            </if>
            <if test="record.schoolContent != null">
                school_content = #{record.schoolContent,jdbcType=VARCHAR},
            </if>
            <if test="record.schoolRank != null">
                school_rank = #{record.schoolRank,jdbcType=INTEGER},
            </if>
            <if test="record.schoolTel != null">
                school_tel = #{record.schoolTel,jdbcType=VARCHAR},
            </if>
            <if test="record.schoolWebUrl != null">
                school_web_url = #{record.schoolWebUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.gmtCreate != null">
                gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.enabled != null">
                enabled = #{record.enabled,jdbcType=BIT},
            </if>
            <if test="record.cityName != null">
                city_name = #{record.cityName,jdbcType=VARCHAR},
            </if>
            <if test="record.affiliation != null">
                affiliation = #{record.affiliation,jdbcType=VARCHAR},
            </if>
            <if test="record.grade != null">
                grade = #{record.grade,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update b_school_rank
        set id = #{record.id,jdbcType=VARCHAR},
        school_name = #{record.schoolName,jdbcType=VARCHAR},
        school_content = #{record.schoolContent,jdbcType=VARCHAR},
        school_rank = #{record.schoolRank,jdbcType=INTEGER},
        school_tel = #{record.schoolTel,jdbcType=VARCHAR},
        school_web_url = #{record.schoolWebUrl,jdbcType=VARCHAR},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        enabled = #{record.enabled,jdbcType=BIT},
        city_name = #{record.cityName,jdbcType=VARCHAR},
        affiliation = #{record.affiliation,jdbcType=VARCHAR},
        grade = #{record.grade,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.bingbing.paper.mybatis.entity.SchoolRank">
        update b_school_rank
        <set>
            <if test="schoolName != null">
                school_name = #{schoolName,jdbcType=VARCHAR},
            </if>
            <if test="schoolContent != null">
                school_content = #{schoolContent,jdbcType=VARCHAR},
            </if>
            <if test="schoolRank != null">
                school_rank = #{schoolRank,jdbcType=INTEGER},
            </if>
            <if test="schoolTel != null">
                school_tel = #{schoolTel,jdbcType=VARCHAR},
            </if>
            <if test="schoolWebUrl != null">
                school_web_url = #{schoolWebUrl,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="cityName != null">
                city_name = #{cityName,jdbcType=VARCHAR},
            </if>
            <if test="affiliation != null">
                affiliation = #{affiliation,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bingbing.paper.mybatis.entity.SchoolRank">
    update b_school_rank
    set school_name = #{schoolName,jdbcType=VARCHAR},
      school_content = #{schoolContent,jdbcType=VARCHAR},
      school_rank = #{schoolRank,jdbcType=INTEGER},
      school_tel = #{schoolTel,jdbcType=VARCHAR},
      school_web_url = #{schoolWebUrl,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT},
    city_name = #{record.cityName,jdbcType=VARCHAR},
    affiliation = #{record.affiliation,jdbcType=VARCHAR},
    grade = #{record.grade,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
